{% block body %}
            {{ form_start(formCategorie) }}
        {{ form_row(formCategorie.name) }}
        <button type="submit" class="btn btn-info mb-2 btn-sm">Ajouter</button>
    {{ form_end(formCategorie) }}
            {% endblock %}
            
            