name: Deploy website on push

on:
  push:
    branches:
      - main  # Assure-toi que "main" est bien ta branche principale

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ftp.mediatekformation.worldlite.fr
          server-dir: /public_html/mediatekformation/
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
